In [155]:
import pandas as pd

from src.preprocess.merge_data import merge_user_items_attributes

DATA_PATH = "C:/Users/xenx9/Desktop/Development/level2-recsys-movierecommendation-recsys-06-lv3/data/train"

In [156]:
df = merge_user_items_attributes(DATA_PATH)

In [157]:
df.info()
df.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5154471 entries, 0 to 5154470
Data columns (total 8 columns):
 #   Column    Dtype
---  ------    -----
 0   user      int64
 1   item      int64
 2   time      int64
 3   title     object
 4   year      float64
 5   genre     object
 6   director  object
 7   writer    object
dtypes: float64(1), int64(3), object(4)
memory usage: 314.6+ MB

user        0
item        0
time        0
title       0
year        0
genre       0
director    0
writer      0
dtype: int64

In [158]:
df

,user,item,time,title,year,genre,director,writer
0,11,4643,1230782529,Planet of the Apes (2001),2001.0,"[Action, Adventure, Drama, Sci-Fi]",[318],"[99541, 115310, 465199, 742797]"
1,11,170,1230782534,Hackers (1995),1995.0,"[Action, Adventure, Crime, Thriller]",[812200],[-999]
2,11,531,1230782539,"Secret Garden, The (1993)",1993.0,"[Children, Drama]",[2140],"[3031, 122364]"
3,11,616,1230782542,"Aristocats, The (1970)",1970.0,"[Animation, Children]",[718627],"[27011, 166307, 166551, 314788, 841035, 858826..."
4,11,2140,1230782563,"Dark Crystal, The (1982)",1982.0,"[Adventure, Fantasy]","[568, 1345]","[1345, 643973]"
...,...,...,...,...,...,...,...,...
5154466,138493,44022,1260209449,Ice Age 2: The Meltdown (2006),2006.0,"[Adventure, Animation, Children, Comedy]",[757858],"[310087, 841532, 5022110]"
5154467,138493,4958,1260209482,Behind Enemy Lines (2001),2001.0,"[Action, Drama, War]",[601382],"[672015, 859029, 859049, 892705]"
5154468,138493,68319,1260209720,X-Men Origins: Wolverine (2009),2009.0,"[Action, Sci-Fi, Thriller]",[4303],"[940790, 1125275]"
5154469,138493,40819,1260209726,Walk the Line (2005),2005.0,"[Drama, Musical, Romance]",[3506],"[3506, 219456]"
5154470,138493,27311,1260209807,Batman Beyond: Return of the Joker (2000),2000.0,"[Action, Animation, Crime, Sci-Fi, Thriller]",[-999],"[4170, 227704]"